{% extends "base.html" %}

{% block content %}

<h1>To-Do List</h1>
<a href="{% url 'todo_create' %}">Create a Task</a>
<ul>
  {% for task in todo %}
  <li>
    <form action="{% url 'is_complete' task.id %}" method="POST">
      {% csrf_token %}
      <label>
        <input type="checkbox" name="completed"
          {% if task.completed %}checked{% endif %}
          onchange = "this.form.submit()"
        >
      </label>
    </form>
    {{ task.title }} - {% if task.completed %}Completed{% else %}Pending{% endif %}
    <a href="{% url 'todo_update' task.id %}">
      <button type="submit">Edit</button>
    </a>
    <form action="{% url 'todo_delete' task.id %}" method="POST">
      {% csrf_token %}
      <button type="submit">Delete</button>
    </form>

  </li>
  {% endfor %}
</ul>

{% endblock %}
